* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif
}


.gradient-color {
    background-image: linear-gradient(to right, rgb(4, 172, 228), rgb(35, 35, 68));
}

.my-container {
    width: 90%;
    margin: auto
}

.background {
    background-color: rgb(35, 35, 68);
}

.capitalize {
    text-transform: capitalize;
}

.bg-orange {
    background-color: orange;
}

.bg-grey {
    background-color: lightgrey;
}

.bg-navy {
    background-color: navy;
}

/* @media screen and (max-width:1020px) {
.card-columns{
    column-count: 5;
}
} */
/* tablet*/
@media screen and (max-width:820px) {
  

    #current-weather img {
        width: 100% !important;
    }

    .card img {
        width: 100% !important
    }
    .card{
        min-width:180px;
        max-width: 180px;
        margin-top: 10px;

    
    }
}

/* phone*/
@media screen and (max-width:480px) {

    .my-container {
        width: 100%;
    }

    h1 {
        font-size: 24px !important;
    }

    .card {
        min-width: none;
        max-width: none;
        width: 100%

    }



}